Token="" # 機器人的Token
APIPort=3000 # 可讓別人抓取延遲的API的端口
EggactylCompatibleMode=false # 是否開啟Eggactyl支援模式
SuggestChannel="" # 建議頻道的ID
DebugMode=false # 除錯模式 (直接拋出錯誤，而不catch並log)
YouTubeURL="" # 直播狀態連結到的YouTube網址